/*---------------------------------------
  PRE LOADER              
-----------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #000000;
}

/*----------------------------------------
ANIMACION
------------------------------------------
*/

.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -24px 0 #d45cda, 24px 0 #FFF;
    }

    66% {
        background: #85e5ba;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }

    100% {
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #d45cda;
    }
}